<p>
  <b>Date:</b>
  <%=h @indoor.date %>
</p>

<p>
  <b>Sales incharge:</b>
  <%=h @indoor.sales_incharge %>
</p>


<%= link_to 'Edit', edit_indoor_path(@indoor) %> |
<%= link_to 'Back', indoors_path %>